.header {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.link svg {
  width: 27px;
  height: 27px;
  fill: var(--foreground);
  transition: var(--transition);
}

@media (pointer: fine) {
  .link:hover svg {
    fill: var(--primary);
  }
}

@media (hover: hover) {
  .link:active svg {
    fill: var(--primary);
    transition: 0s;
  }
}

.link p {
  color: var(--foreground);
  font-weight: 500;
  transition: var(--transition);
}

@media (pointer: fine) {
  .link:hover p {
    color: var(--primary);
  }
}

@media (hover: hover) {
  .link:active p {
    color: var(--primary);
    transition: 0s;
  }
}

@media screen and (max-width: 768px) {
  .link p {
    display: none
  }
}